.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 5rem;
    background-color: #ffffff;
    box-shadow: 0 3px 25px 0 rgba(255,255,255,0.1);
}
.dash-header .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.dash-header .left span {
    cursor: pointer;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    margin-right: 25px;
}

.dash-header .left,
.dash-header .right {
    padding: 0 10px;
}
.dash-header .user-bar {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.dash-header .user-bar .user-pic {
    width: 60px;
    cursor: pointer;
}
.dash-header .user-bar .user-pic img {
    max-width: 100%;
    border: 1px solid rgba(238, 239, 244, 0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.dash-header .user-bar strong {
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
}

.dash-header .user-bar .user-menu {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: calc(100% + 4px);
    right: 1px;
    width: 180px;
    padding: 10px 0;
    background-color: #ffffff;
    margin: 0;
    z-index: 9;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.user-menu::after {
    display: block;
    position: absolute;
    content: '';
    clear: both;
    top: -3px;
    right: calc(0% + 18px);
    padding: 10px;
    z-index: -1;
    background-color: #ffffff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.user-menu li {
    display: block;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -ms-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
}
.user-menu li:hover {
    background-color: rgba(59, 59, 240, 0.2);
}
.user-menu li a:hover {text-decoration: none;}
.user-menu li a {
    display: block;
    font-size: 1rem;
    color: #3e3eff;
    padding: 10px 17px;
}





@media (max-width: 1100px) {
    .dash-header {
        width: calc(100% - 60px) !important;
    }
    .left .btn-info {
        margin-left: 10px;
    }
}