.dashboard-wrapper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    background-color: #EEEFF4;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.dashboard-content {
    position: absolute;
    display: block;
    width: 100%;
    padding-bottom: 100px;
    top: 5rem;
}

@media (max-width: 1100px) {
    .dashboard-wrapper {
        margin-left: 60px !important;
        width: calc(100% - 60px) !important;
    }
}